<div >
                <div class="audie" style="background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); height:665px;">

        <br/>
        <br/>
        <br/>
<div class="container">
        <div class="custom-container">
        <br/>
        <div id="gallery">
          <div class="container">
                        <div id="carousel">
                                <figure><img src="../assets/images/1.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/3.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/10.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/11.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/12.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/6.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/7.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/8.jpg" alt="" width="120" height="160"></figure>
                                <figure><img src="../assets/images/9.png" alt="" width="120" height="160"></figure>
                        </div>
                </div>
        
        </div>
        
         </div>
         </div>
         </div>
        